<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Where is the nearest hospital?</h1>
    <form name="input" action="/answer" method="post">
      <input type="hidden" value="Where is the nearest hospital?" name="hospitalQuestion">
       Answer: <input type="text" name="hospitalAnswer">
      <input type="submit" value="Submit">
    </form>
    <div><a href="/"> Go back to home page </a></div>
  </body>
</html>
