<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='stylesheets/normalize.css'/>
  <link rel='stylesheet' href='stylesheets/skeleton.css'/>
  <link rel='stylesheet' href='stylesheets/answers.css'/>
  <script src="javascripts/jquery.js"></script>
</head>
<body>
<div class="hero">
  <div class="container">
    <h3 class="hero-heading">Thank you for taking the time to answer these questions</h3>
    <p class="hero-description">Your help is really appreciated</p>
  </div>
</div>
<div class="container">
  <form name="input" action="/answer" method="post">
    <div class="row">
      <label for="type">What kind of contributor are you?</label>
      <select class="u-full-width" id="type">
        <option selected="selected">-- Select One --</option>
        <option value="refugee">Refugee</option>
        <option value="ngo">NGO</option>
        <option value="volunteer">Volunteer</option>
      </select>
    </div>

    <!-- Refugee Form -->
    <div class="specific-form" id="refugee" style="display: none;">
      <div class="row">
        <div class="one-half column">
          <label for="volunteer[country]">What country are you located in?</label>
          <input class="u-full-width" type="text" id="volunteer[country]" name="volunteer[country]"/>
        </div>
        <div class="one-half column">
          <label for="volunteer[city]">What city are you located in?</label>
          <input class="u-full-width" type="text" id="volunteer[city]" name="volunteer[city]"/>
        </div>
      </div>

      <!-- Specific refugee Question -->
      <div class="row">
        <label for="questions[0]">Where do you go to learn the local language?</label>
        <input type="hidden" value="Where do you go to learn the local language?" name="questions[0][question]">
        <textarea class="u-full-width" rows="3" id="questions[0]" name="questions[0][answer]"></textarea>
      </div>

      <div class="row">
        <label for="questions[1]">What is the best hospital for emergency care?</label>
        <input type="hidden" value="What is the best hospital for emergency care?" name="questions[1][question]">
        <textarea class="u-full-width" rows="3" id="questions[1]" name="questions[1][answer]"></textarea>
      </div>

      <div class="row">
        <label for="questions[2]">Where do you go to see a doctor if you are sick?</label>
        <input type="hidden" value="Where do you go to see a doctor if you are sick?" name="questions[2][question]">
        <textarea class="u-full-width" rows="3" id="questions[2]" name="questions[2][answer]"></textarea>
      </div>

      <div class="row">
        <label for="questions[3]">What are the best educational programs for children?</label>
        <input type="hidden" value="What are the best educational programs for children?" name="questions[3][question]">
        <textarea class="u-full-width" rows="3" id="questions[3]" name="questions[3][answer]"></textarea>
      </div>

      <div class="row">
        <label for="questions[4]">Which organizations can help with residency and immigration support?</label>
        <input type="hidden" value="Which organizations can help with residency and immigration support?"
               name="questions[4][question]">
        <textarea class="u-full-width" rows="3" id="questions[4]" name="questions[4][answer]"></textarea>
      </div>

      <div class="row">
        <label for="questions[5]">What is a good restaurant to get Arabic food?</label>
        <input type="hidden" value="What is a good restaurant to get Arabic food?" name="questions[5][question]">
        <textarea class="u-full-width" rows="3" id="questions[5]" name="questions[5][answer]"></textarea>
      </div>

      <!-- End refugee form -->
    </div>

    <!-- NGO Form -->
    <div class="specific-form" id="ngo" style="display: none;">
      <div class="row">
        <div class="one-half column">
          <label for="volunteer[name]">Name</label>
          <input class="u-full-width" type="text" id="volunteer[name]" name="volunteer[name]"/>
        </div>
        <div class="one-half column">
          <label for="volunteer[address]">Address</label>
          <input class="u-full-width" type="text" id="volunteer[address]" name="volunteer[address]"/>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <label for="volunteer[phone]">Phone number</label>
          <input class="u-full-width" type="text" id="volunteer[phone]" name="volunteer[phone]"/>
        </div>
        <div class="one-half column">
          <label for="volunteer[country]">What country are you located in?</label>
          <input class="u-full-width" type="text" id="volunteer[country]" name="volunteer[country]"/>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <label for="volunteer[city]">What city are you located in?</label>
          <input class="u-full-width" type="text" id="volunteer[city]" name="volunteer[city]"/>
        </div>
      </div>

      <!-- Topic -->
      <label for="topic">What services do you offer to refugees? (choose all that apply)</label>
      <div class="row">
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[health]">
            <span class="label-body">Healthcare</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[emergency]">
            <span class="label-body">Emergency care</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[language]">
            <span class="label-body">Language training</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[legal]">
            <span class="label-body">Legal support</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[immigration]">
            <span class="label-body">Immigration services</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[shelter]">
            <span class="label-body">Shelter support</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[job]">
            <span class="label-body">Job training / Employment Support</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[foot]">
            <span class="label-body">Food aid</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[culture]">
            <span class="label-body">Cultural tours/immersion</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[other]">
            <span class="label-body">Other</span>
          </label>
        </div>
      </div>
    </div>

    <!-- Volunteer form -->
    <div class="specific-form" id="volunteer" style="display: none;">
      <div class="row">
        <div class="one-half column">
          <label for="volunteer[country]">What country are you located in?</label>
          <input class="u-full-width" type="text" id="volunteer[country]" name="volunteer[country]"/>
        </div>
        <div class="one-half column">
          <label for="volunteer[city]">What city are you located in?</label>
          <input class="u-full-width" type="text" id="volunteer[city]" name="volunteer[city]"/>
        </div>
      </div>

      <!-- Topic -->
      <label for="topic">What activities do you want to support for refugees? (choose all that apply)</label>
      <div class="row">
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[tours]">
            <span class="label-body">Local tours of the city</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[furniture]">
            <span class="label-body">Finding furniture</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[mobile]">
            <span class="label-body">Getting SIM cards and mobile phones</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[banking]">
            <span class="label-body">Banking</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[housing]">
            <span class="label-body">Housing</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[language]">
            <span class="label-body">Language training</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[job]">
            <span class="label-body">Job training / Employment Support</span>
          </label>
        </div>
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[culture]">
            <span class="label-body">Cultural tours/immersion</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="one-third column">
          <label>
            <input type="checkbox" name="topic[other]">
            <span class="label-body">Other</span>
          </label>
        </div>
      </div>
    </div>

    <label id="volunteer-container" style="display: none;">
      <input type="checkbox" id="guidance">
      <span class="label-body">Would you be willing to offer guidance to incoming refugees who have questions?</span>
    </label>
    <div id="volunteer-form" style="display: none;">
      <div class="row">
        <label for="volunteer-name">What is your first name?</label>
        <input type="text" id="volunteer-name" name="volunteer-name"/>
      </div>

      <div class="row">
        <label for="volunteer-phone">What is your phone number?</label>
        <input type="text" id="volunteer-phone" name="volunteer-phone"/>
      </div>
    </div>

    <input type="submit" value="Submit" class="button-primary">
  </form>
</div>

<script>
  // Show/Hide specific form Question.
  $(document).ready(function () {
    $('#type').change(function () {
      var type = $(this).val();
      $('.specific-form').hide();
      $('#' + type).show();
      if (type !== 'refugee' && type !== 'volunteer') {
        $('#volunteer-container').hide();
      } else {
        $('#volunteer-container').show();
      }
    });
  });

  // Show/Hide volunteer information form.
  $(document).ready(function () {
    console.log('ready');
    $('#guidance').change(function () {
      console.log('checkbox changed');
      var $form = $('#volunteer-form');
      if ($(this).prop('checked')) {
        console.log('checkbox checked');
        $form.show();
        $form.find('input').prop('required', true);
      } else {
        console.log('checkbox not checked');
        $form.hide();
        $form.find('input').prop('required', false);
      }
    });
  });
</script>

</body>
</html>
