<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='stylesheets/normalize.css'/>
  <link rel='stylesheet' href='stylesheets/skeleton.css'/>
  <link rel='stylesheet' href='stylesheets/thank_you.css'/>
  <script src="javascripts/jquery.js"></script>
</head>
<body>
<div class="container">
  <img src="images/thank_you.png" alt="Thank you!">
  <h5>Thank you! Your help is really appreciated.</h5>
</div>
</body>
</html>
